
body {
    background: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
button {
    background: yellow;
    color: black;
    border: none;
    padding: 1em 2em;
    font-weight: bold;
    cursor: pointer;
}
